.composeMessage {
    padding-right: 200px;
    text-decoration: underline;
    padding-top: 10px;
    margin: 0;

}

.tweetForm {
    width: 100%;
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
    
}

.counter {
    right: 0px;
    padding-left: 300px;
}

textArea {
    width: 100%;
    padding: 5px;
}

.tweet-button {
    float: left;
}

.new-tweet {
    height: 140px;
    background-color: rgb(206, 205, 205);
    border-radius: 25px;

}

.tweet-article {
    border-radius:25px;
    background-color: papayawhip;
}

.tweet-header {
    /* background-color: rgb(228, 221, 221); */
    border-bottom: 1px solid black;
    /* border-top: 1px solid black; */

    height:100px; /* figure out a way to do this without setting height */


    /* text-align: left; */
  }

  .tweet-header h2{
      margin:0;
      float: left;

  }

#tweet-container {
    /* height: 140px; */
    border-radius: 25px;
}

/* #twitter-article {
        height: 140px;
        background-color: rgb(54, 228, 147);
        border-radius: 25px;
} */

#tweet-footer {
    text-align: left;
    padding-left: 10px;
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */


}



#twitter-picture {
    float: left;
    height: 100%;
    padding: 10px;
    border-style: hidden;
    border-radius:25px;
    
}

#twitter-handle {
    margin: auto;
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

