.composeMessage {
    padding-right: 200px;
    text-decoration: underline;
    padding-top: 10px;

}

.tweetForm {
    width: 100%;
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
    
}

.counter {
    right: 0px;
    padding-left: 300px;
}

textArea {
    width: 100%;
    padding: 5px;
}

.tweet-button {
    float: left;
}

.new-tweet {
    height: 140px;
    background-color: rgb(203, 203, 203);
    border-radius: 25px;

}